body {
    background-color: #272b30;
    color: #aaa;
}

.navbar {
    background-color: #1c1e22 !important;
    border-bottom: 1px solid #31343d;
}

#sidenav {
    background: #1c1e22;
    border-right: #31343d solid 1px;
}


.nav-link, .nav-link:focus {
    color: #0c0c0c;
}

#sidenav a {
    color: #aaa;
}

.side-icon {
    color: #aaa;
}

.card {
    background-color: #32383e;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #272b30;
}

table.dataTable tbody tr {
    background-color: #32383e;
}

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: #2f3338;
}

.modal-content {
    background-color: #272b30;
}

.select2-container--default .select2-selection--single {
    background-color: #272b30;
    border: 1px solid #000;
}

#floating-menu {
    background-color: #1c1e22;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #aaa;
}

.select2-dropdown {
    background-color: #272b30;
    border: 1px solid #464b50;
}

.this-page, #sidenav a:hover {
    color: #4f80c7 !important;
}

footer {
    background-color: #1c1e22 !important;
    color: #aaaaaa;
}

footer div > a {
    color: #aaaaaa;
}

input {
    background-color: #43474c;
    color: #fff;
}

.select2-found-text {
    background-color: #272b30;
}

.select2-container--default .select2-results__option--selected {
    color: #000;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #aaa;
}

table.dataTable tbody th.focus, table.dataTable tbody td.focus {
    box-shadow: inset 0 0 1px 2px #dadada;
}

.text-dark, .text-black-50 {
    color: #aaa !important;
}

.text-light, .text-white-50 {
    color: #212529 !important;
}
